{% extends "core/base.html" %}
{% load wagtailcore_tags %}

{% block title %}
    {% if page.seo_title_custom %}
        {{ page.seo_title_custom }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if page.seo_description %}
        {{ page.seo_description }}
    {% else %}
        Прием и утилизация отходов в Новороссийске
    {% endif %}
{% endblock %}

{% block content %}
<section>
    <div>
        <h1>{{ page.title }}</h1>
        <p>Главная страница сайта компании по приему и утилизации отходов.</p>
        <p>Шаблон подключен успешно.</p>
    </div>
</section>
{% endblock %}